
.header {
  background-color: $color-white;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: $color-blue;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid $borde;
  text-decoration: none;
  color: $color-white;
  @include font-secundaria;
  font-size: 16px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $borde;
}

.header .logo {
        position: absolute;
        z-index: 3;
        width: 24px;
        height: 24px;
        left: 1%;
        padding-left: 1em;
        padding-top: 1em;
    }


.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $color-principal;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $color-principal;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}


.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 768px) {
  .header ul{
   background-color: $color-white;
   
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    color: $color-principal;
    position: relative;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
  header a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background: $active-color;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
header a:active:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}
header a:hover{
  color: $active-color;
}

.header .logo {
  width: 25px;
  height: 25px;
  left: 1%;
  padding-left: 3em;
  padding-top: 1em;
}
  
}

@media screen and (min-width: 1024px) {
 
  header a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background: $button-background;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
header a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

header a:hover{
  color: #00F3BB;
}
.header .logo {
  width: 36px;
  height: 36px;
  left: 1%;
  padding-left: 3em;
  padding-top: 1em;
}
  
}