.interviews{

        & h2 {
            @include font-principal;
            color: $color-principal;
            font-size: 36px;
            line-height: 42px;
            margin-left: 1em;
            
            line-height: 42px;
            

        }
        & .contenido {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
    
            & .breakpoint {
                width: 100%;
                height: auto;
            }
        }
    }
    