.news {
h2{
   @include font-principal;
   text-align: center;
   color: $color-white;
   margin: 1em;
   font-size: 36px;
   line-height: 42px;
}

.button-b{
    @include button-style;
}

.button-b:active {
    @include button-animation;
}
}
.skewed2{
    @include background-blue;
    height: 341px;
   
    
}