.nosotros{
    
    display: grid;
    grid-template-columns: auto;
    color: $color-principal;
    .phone{
        margin-top: 2em;
        width: 360px;
        height: 519px;
     }

    h2{
        @include font-principal;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 5px;
     }

    p {
        @include font-secundaria;
        margin-left: 2em;
        margin-right: 2em;
    } 
}

