
.title{
    padding-top: 3.2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}
h1{
    @include font-titulos;
    margin: 10px
}
#world{
    text-decoration-line: line-through;
}
#punto{
    color: $color-blue;
}

.p-mobile{
    text-align: justify;
    margin-bottom: 2em;
    @include font-parrafos;
    margin: 8px
}

.p-desktop {
    display: none;
}

.button-t{
    @include button-style;
}

.button-t:active {
    @include button-animation;
}

@media screen and (min-width: 768px) {
    .title{
        padding: 3em;
        padding-bottom: 0;
        margin: 0;

    h1 {
        margin: 8vw;
        margin-bottom: 0;
        font-size: 50px;
        line-height: 63px;
    }
    .p-mobile{
        text-align: justify;
        margin-left: 8vw;
        margin-right: 32vw;
        font-size: 15px;
        line-height: 24px;
        word-spacing: -5px;
    }

    .button-t {
        width: 226px;
        height: 56px;
        left: 26%; 
        font-size: 18px;
        line-height: 24px;
    }

}
}

@media screen and (min-width: 1024px) {

    .title{
        padding: 3em;
        padding-bottom: 0;
        margin: 0;

    h1 {
        margin: 8vw;
        margin-bottom: 0;
        font-size: 64px;
        line-height: 84px;
    }
    .p-mobile{
        display: none;
    }
    .p-desktop {
        @include font-parrafos;
        text-align: justify;
        display: block;
        margin-left: 8vw;
        margin-right: 45vw;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 2vw;
    }
    .button-t {
        width: 226px;
        height: 56px;
        left: 18%; 
        font-size: 18px;
        line-height: 24px;
    }

    br{
        display: none;
    }
}

}
