.topics{
    display: flex;
    flex-direction: column;
    margin: 1em;

   
    h2{
        @include font-principal;
        font-size: 2.25em;
        line-height: 42px;
        margin-left: 0.5em;
        margin-right: 1em;
    }
    div{
        text-align: center;
        
        h3{
            @include font-secundaria;
            color: $color-principal;
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 2.5em;
        }
    }

}