
@mixin font-titulos {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 2.25em;
    line-height: 42px;
    color: $color-principal;
}

@mixin font-parrafos {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px; 
    line-height: 22px; 
    color: $color-principal;
}

@mixin font-titulossec {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: $color-principal;
}


@mixin button-style {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
    font-family: 'IBM Plex Mono', monospace;
    width: 288px;
    height: 48px;
    text-decoration: none;
    background-color: $button-background;
    font-size: 16px;
    color: $color-principal;
    text-align: center;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    position: relative; 
    margin-top: 3em;
    line-height: 22px;
    text-transform: uppercase;

}

@mixin button-animation {
        background: $button-animate-background;
        color: $color-white;
    }

@mixin background-blue {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1203.5px;
    background: $skewed;
    transform: skewY(-5deg);
    transform-origin: bottom right;
}

@mixin background-top {
    position: absolute;
            top: 28em;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 55em;
            background-image: linear-gradient(225deg, #0000ff, #0000a3);
            z-index: -1;
            transform: skewY(-5deg);
            transform-origin: top left;
    
}