$color-principal:  #060A24;
$button-background: #00F3BB;
$button-animate-background: linear-gradient(225deg, rgba(0,0,254,1), rgba(0,240,184,1));
$color-white: #FFFFFF;
$color-blue: #0000EC; 
$skewed: linear-gradient(225deg, rgba(0,0,255,1), rgba(0,0,163,1));
$borde: #f4f4f4;
$active-color: #8F060A24