@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
.header {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #0000EC;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  position: absolute;
  z-index: 3;
  width: 24px;
  height: 24px;
  left: 1%;
  padding-left: 1em;
  padding-top: 1em;
}

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #060A24;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #060A24;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 768px) {
  .header ul {
    background-color: #FFFFFF;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    color: #060A24;
    position: relative;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  header a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #8F060A24;
    top: 47%;
    -webkit-animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  header a:active:before {
    -webkit-animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  @-webkit-keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @-webkit-keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @-webkit-keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  header a:hover {
    color: #8F060A24;
  }
  .header .logo {
    width: 25px;
    height: 25px;
    left: 1%;
    padding-left: 3em;
    padding-top: 1em;
  }
}

@media screen and (min-width: 1024px) {
  header a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #00F3BB;
    top: 47%;
    -webkit-animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  header a:hover:before {
    -webkit-animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  @-webkit-keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @-webkit-keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @-webkit-keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  header a:hover {
    color: #00F3BB;
  }
  .header .logo {
    width: 36px;
    height: 36px;
    left: 1%;
    padding-left: 3em;
    padding-top: 1em;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  padding-top: 3.2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  color: #060A24;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin: 10px;
}

#world {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

#punto {
  color: #0000EC;
}

.p-mobile {
  text-align: justify;
  margin-bottom: 2em;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 8px;
}

.p-desktop {
  display: none;
}

.button-t {
  font-family: 'IBM Plex Mono', monospace;
  width: 288px;
  height: 48px;
  text-decoration: none;
  background-color: #00F3BB;
  font-size: 16px;
  color: #060A24;
  text-align: center;
  border: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  margin-top: 3em;
  line-height: 22px;
}

.button-t:active {
  background: linear-gradient(225deg, #0000fe, #00f0b8);
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .title {
    padding: 3em;
    padding-bottom: 0;
    margin: 0;
  }
  .title h1 {
    margin: 8vw;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 63px;
  }
  .title .p-mobile {
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
    margin-left: 8vw;
    margin-right: 32vw;
    font-size: 15px;
    line-height: 24px;
    word-spacing: -5px;
  }
  .title .button-t {
    width: 226px;
    height: 56px;
    left: 26%;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    padding: 3em;
    margin: 0;
  }
  .title h1 {
    margin: 8vw;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 84px;
  }
  .title .p-mobile {
    display: none;
  }
  .title .p-desktop {
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
    display: block;
    margin-left: 8vw;
    margin-right: 42vw;
    font-size: 16px;
    line-height: 24px;
    word-spacing: -5px;
    padding-bottom: 2vw;
  }
  .title .button-t {
    width: 226px;
    height: 56px;
    left: 18%;
    font-size: 18px;
    line-height: 24px;
  }
  .title br {
    display: none;
  }
}

.episodes {
  color: #FFFFFF;
  margin-top: 1.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.episodes h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-left: 1em;
}

.episodes div {
  position: relative;
  height: 225px;
  width: calc( 100vw - 22px);
  overflow: hidden;
  padding-top: 4%;
}

.episodes iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
}

.skewed {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1203.5px;
  background: linear-gradient(225deg, blue, #0000a3);
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

@media screen and (min-width: 768px) {
  .episodes {
    margin-top: 10vw;
  }
  .episodes div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    width: calc( 100vw - 450px);
    height: 228px;
    padding: 0;
    margin: 1vw;
  }
  .episodes h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-left: 8vw;
    font-size: 50px;
    line-height: 63px;
  }
  .skewed {
    height: 900px;
  }
}

@media screen and (min-width: 1024px) {
  .episodes {
    margin-top: 10vw;
  }
  .episodes div {
    width: calc( 100vw - 800px);
    height: 232pxpx;
    padding: 0;
    margin: 5vw;
    margin-bottom: 1vw;
  }
  .episodes h2 {
    margin-left: 14vw;
    font-size: 48px;
  }
  .skewed {
    height: 1042.6px;
  }
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #060A24;
}

.nosotros .phone {
  width: 95%;
  height: auto;
  margin-top: 2em;
}

.nosotros h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  margin-left: 1em;
  margin-right: 2em;
  margin-bottom: 0;
  line-height: 42px;
}

.nosotros p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  margin-left: 2.5em;
  margin-right: 2em;
}

@media screen and (min-width: 768px) {
  .nosotros h2 {
    margin-left: 8vw;
    font-size: 50px;
    line-height: 63px;
  }
  .nosotros p {
    margin-left: 8vw;
    margin-right: 10vw;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nosotros .phone {
    left: 20%;
  }
  .nosotros h2 {
    font-size: 48px;
  }
  .nosotros p {
    font-size: 16px;
    line-height: 24px;
  }
}

.interviews h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
  font-size: 36px;
  line-height: 42px;
  margin-left: 1em;
  line-height: 42px;
}

.interviews .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
}

.interviews .contenido .breakpoint {
  width: 100%;
  height: auto;
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.topics h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.25em;
  line-height: 42px;
  margin-left: 0.5em;
  margin-right: 1em;
}

.topics div {
  text-align: center;
}

.topics div h3 {
  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2.5em;
}

.news h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin: 1em;
  font-size: 36px;
  line-height: 42px;
}

.news .button-b {
  font-family: 'IBM Plex Mono', monospace;
  width: 288px;
  height: 48px;
  text-decoration: none;
  background-color: #00F3BB;
  font-size: 16px;
  color: #060A24;
  text-align: center;
  border: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  margin-top: 3em;
  line-height: 22px;
}

.news .button-b:active {
  background: linear-gradient(225deg, #0000fe, #00f0b8);
  color: #FFFFFF;
}

.skewed2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1203.5px;
  background: linear-gradient(225deg, blue, #0000a3);
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  height: 341px;
}

.config {
  background-color: #FFFFFF;
  z-index: 0;
  padding: 1em;
  padding-bottom: 2.5em;
  margin-top: 0.2em;
}

.config h4 {
  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.config .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1.5em;
}

.config .icons a {
  color: #060A24;
}
/*# sourceMappingURL=styles.css.map */