@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
.header {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #0000EC;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
  font-size: 16px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  position: absolute;
  z-index: 3;
  width: 24px;
  height: 24px;
  left: 1%;
  padding-left: 1em;
  padding-top: 1em;
}

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #060A24;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #060A24;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 768px) {
  .header ul {
    background-color: #FFFFFF;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    color: #060A24;
    position: relative;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  header a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #8F060A24;
    top: 47%;
    -webkit-animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  header a:active:before {
    -webkit-animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  @-webkit-keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @-webkit-keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @-webkit-keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  header a:hover {
    color: #8F060A24;
  }
  .header .logo {
    width: 25px;
    height: 25px;
    left: 1%;
    padding-left: 3em;
    padding-top: 1em;
  }
}

@media screen and (min-width: 1024px) {
  header a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #00F3BB;
    top: 47%;
    -webkit-animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  header a:hover:before {
    -webkit-animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  @-webkit-keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @-webkit-keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @-webkit-keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  header a:hover {
    color: #00F3BB;
  }
  .header .logo {
    width: 36px;
    height: 36px;
    left: 1%;
    padding-left: 3em;
    padding-top: 1em;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  padding-top: 3.2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  margin: 10px;
}

#world {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

#punto {
  color: #0000EC;
}

.p-mobile {
  text-align: justify;
  margin-bottom: 2em;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
  margin: 8px;
}

.p-desktop {
  display: none;
}

.button-t {
  font-family: 'IBM Plex Mono', monospace;
  width: 288px;
  height: 48px;
  text-decoration: none;
  background-color: #00F3BB;
  font-size: 16px;
  color: #060A24;
  text-align: center;
  border: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  margin-top: 3em;
  line-height: 22px;
  text-transform: uppercase;
}

.button-t:active {
  background: linear-gradient(225deg, #0000fe, #00f0b8);
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .title {
    padding: 3em;
    padding-bottom: 0;
    margin: 0;
  }
  .title h1 {
    margin: 8vw;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 63px;
  }
  .title .p-mobile {
    text-align: justify;
    margin-left: 8vw;
    margin-right: 32vw;
    font-size: 15px;
    line-height: 24px;
    word-spacing: -5px;
  }
  .title .button-t {
    width: 226px;
    height: 56px;
    left: 26%;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    padding: 3em;
    padding-bottom: 0;
    margin: 0;
  }
  .title h1 {
    margin: 8vw;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 84px;
  }
  .title .p-mobile {
    display: none;
  }
  .title .p-desktop {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    color: #060A24;
    text-align: justify;
    display: block;
    margin-left: 8vw;
    margin-right: 42vw;
    font-size: 16px;
    line-height: 24px;
    word-spacing: -5px;
    padding-bottom: 2vw;
  }
  .title .button-t {
    width: 226px;
    height: 56px;
    left: 18%;
    font-size: 18px;
    line-height: 24px;
  }
  .title br {
    display: none;
  }
}

.episodes {
  margin-top: 1.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.episodes h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  margin-left: 1em;
  color: #FFFFFF;
}

.episodes div {
  position: relative;
  height: 225px;
  width: calc( 100vw - 22px);
  overflow: hidden;
  padding-top: 4%;
}

.episodes iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
}

.skewed {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1203.5px;
  background: linear-gradient(225deg, blue, #0000a3);
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

@media screen and (min-width: 768px) {
  .episodes {
    margin-top: 10vw;
  }
  .episodes div {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    width: calc( 100vw - 450px);
    height: 228px;
    margin: 1vw;
  }
  .episodes h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-left: 8vw;
    font-size: 50px;
    line-height: 63px;
  }
  .skewed {
    height: 900px;
  }
}

@media screen and (min-width: 1024px) {
  .episodes div {
    width: calc( 100vw - 600px);
    height: 232px;
    margin-bottom: 1vw;
  }
  .episodes h2 {
    font-size: 48px;
    margin-bottom: 8vw;
  }
  .skewed {
    height: 1042.6px;
  }
}

@media screen and (min-width: 1440px) {
  .episodes h2 {
    margin-bottom: 5vw;
  }
  .episodes div {
    width: calc( 100vw - 910px);
  }
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nosotros .phone {
  width: 95%;
  height: auto;
  margin-top: 2em;
}

.nosotros .contenido {
  margin-left: 5vw;
}

.nosotros h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  margin-left: 1em;
  margin-right: 2em;
  margin-bottom: 0;
}

.nosotros .pf {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
  font-size: 14px;
  margin-left: 2.5em;
  margin-right: 2em;
}

@media screen and (min-width: 768px) {
  .nosotros {
    margin-left: 0.5em;
    margin-bottom: 10vw;
  }
  .nosotros .phone {
    width: 60%;
    height: auto;
    margin-top: 6em;
  }
  .nosotros h2 {
    font-size: 2em;
    width: 90%;
    text-align: left;
    margin-left: 0.3em;
    margin-bottom: 1em;
  }
  .nosotros p {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 10vw;
    margin-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nosotros .phone {
    width: 30%;
    height: auto;
    margin-top: 5em;
    grid-area: phone;
    margin-left: 10em;
  }
  .nosotros .contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 3em;
  }
  .nosotros h2 {
    font-size: 2em;
    width: 90%;
    height: 2em;
    margin: 5.5em 0 0 1em;
    font-weight: 400;
    line-height: 42px;
  }
  .nosotros .pf {
    font-weight: 400;
    text-align: justify;
  }
  .nosotros .pf .one {
    width: 75%;
  }
  .nosotros .pf .two {
    width: 75%;
    margin-top: 1em;
  }
}

@media screen and (min-width: 1440px) {
  .nosotros {
    margin-top: 0;
  }
  .nosotros h2 {
    font-size: 48px;
    margin: 6em 0 0 1em;
  }
  .nosotros .pf {
    font-size: 16px;
    margin-bottom: 0;
  }
  .nosotros .one {
    margin-top: 0;
  }
}

.interviews h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  margin-left: 1em;
}

.interviews .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
}

.interviews .contenido .breakpoint {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .interviews h2 {
    font-size: 3em;
    margin-left: 1.2em;
    margin-top: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  .interviews {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .interviews .contenido {
    display: -ms-grid;
    display: grid;
    width: 100%;
    padding: 0;
    margin: 0;
        grid-template-areas: "img1 img2 img3" "img4 img5 img6";
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .interviews h2 {
    font-size: 3em;
    line-height: 42px;
    top: 39em;
    left: 3em;
  }
  .interviews .breakpoint {
    width: 100%;
  }
  .interviews .imginvitadas {
    width: 100%;
  }
  .interviews .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img1;
    grid-row: auto;
    grid-column: auto;
  }
  .interviews .img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img2;
    grid-row: auto;
    grid-column: auto;
  }
  .interviews .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img3;
    grid-row: auto;
    grid-column: auto;
  }
  .interviews .img4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img4;
    grid-row: auto;
    grid-column: auto;
  }
  .interviews .img5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: img5;
    grid-row: auto;
    grid-column: auto;
  }
  .interviews .img6 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: img6;
    grid-row: auto;
    grid-column: auto;
  }
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.topics h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  margin-left: 0.5em;
  margin-right: 1em;
}

.topics .a-topics {
  text-align: center;
}

.topics .a-topics h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #060A24;
  text-align: center;
  margin-bottom: 2.5em;
}

@media screen and (min-width: 768px) {
  .topics h2 {
    margin-left: 1.2em;
    margin-top: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  .topics {
    width: 95%;
  }
  .topics h2 {
    font-size: 3em;
    font-weight: 400;
    line-height: 42px;
    width: 70%;
    margin-left: 1em;
    left: 3em;
    margin-bottom: 2em;
  }
  .topics .a-topics {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5em 1fr 1fr 1fr 1fr 5em;
        grid-template-columns: 5em 1fr 1fr 1fr 1fr 5em;
    -ms-grid-rows: 1fr 2em 1fr;
        grid-template-rows: 1fr 2em 1fr;
        grid-template-areas: ". icon1 icon2 icon3 icon4 ." ". . . . . ." ". t-icon1 t-icon2 t-icon3 t-icon4 .";
    justify-items: center;
  }
  .topics .a-topics .icon1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: icon1;
    text-align: center;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .topics .a-topics .icon2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: icon2;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .topics .a-topics .icon3 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: icon3;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    grid-column: 4;
  }
  .topics .a-topics .icon4 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: icon4;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 5;
    grid-column: 5;
  }
  .topics .a-topics .h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #060a24;
  }
  .topics .a-topics .t-icon1 {
    grid-area: ticon1;
    margin: 0;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .topics .a-topics .t-icon2 {
    grid-area: ticon2;
    margin: 0;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .topics .a-topics .t-icon3 {
    margin-left: 3em;
    grid-area: ticon3;
    margin: 0;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 4;
    grid-column: 4;
  }
  .topics .a-topics .t-icon4 {
    grid-area: ticon4;
    margin: 0;
    width: 90%;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 5;
    grid-column: 5;
  }
}

.news h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  text-align: center;
  color: #FFFFFF;
  margin: 1em;
}

.news .button-b {
  font-family: 'IBM Plex Mono', monospace;
  width: 288px;
  height: 48px;
  text-decoration: none;
  background-color: #00F3BB;
  font-size: 16px;
  color: #060A24;
  text-align: center;
  border: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  margin-top: 3em;
  line-height: 22px;
  text-transform: uppercase;
}

.news .button-b:active {
  background: linear-gradient(225deg, #0000fe, #00f0b8);
  color: #FFFFFF;
}

.skewed2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1203.5px;
  background: linear-gradient(225deg, blue, #0000a3);
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  height: 341px;
}

@media screen and (min-width: 1024px) {
  .news {
    margin-top: 3em;
  }
  .news h2 {
    margin-top: 4em;
  }
}

.config {
  background-color: #FFFFFF;
  z-index: 0;
  padding: 1em;
  padding-bottom: 2.5em;
  margin-top: 0.2em;
}

.config h4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.config .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1.5em;
}

.config .icons a {
  color: #060A24;
}

@media screen and (min-width: 1024px) {
  .config {
    padding-bottom: 2.5em;
    margin-top: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .config h3 {
    font-size: 1em;
    text-align: center;
    color: #060a24;
    font-weight: 400;
    margin-right: 10em;
  }
  .config .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 0.5;
        -ms-flex-positive: 0.5;
            flex-grow: 0.5;
    margin-left: 15em;
  }
}

@media screen and (min-width: 1440px) {
  .config {
    padding-bottom: 3.5em;
  }
}
/*# sourceMappingURL=styles.css.map */